:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --app-background-color: #e5e4e2;
  --shadow-color: #71797e;

  --grayAlpha-100: #e5e5e5;
  --grayAlpha-700: rgba(169, 169, 169, 0.71);
  --gray-900: rgba(50, 50, 50, 1);
  --gray-50: rgba(240, 240, 240, 0.9);

  --redAlpha-100: rgba(255, 76, 76, 0.15);
  --redAlpha-700: rgba(255, 76, 76, 0.71);
  --red-900: rgba(71, 21, 21, 1);
  --red-50: rgba(255, 242, 242, 1);

  --greenAlpha-100: rgba(77, 218, 110, 0.15);
  --greenAlpha-700: rgba(77, 218, 110, 0.62);
  --green-900: rgba(20, 64, 29, 1);
  --green-50: rgba(242, 255, 245, 1);

  --blueAlpha-100: rgba(76, 172, 255, 0.15);
  --blueAlpha-600: rgba(76, 172, 255, 0.62);
  --blue-900: rgba(21, 48, 71, 1);
  --blue-50: rgba(242, 249, 255, 1);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100%;
}

main {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--app-background-color);
}

.pomodoro-container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  border-radius: 25px;
  width: 450px;
  height: 800px;
  max-height: 90vh;
  display: block;
  margin: auto;
  box-shadow: 10px 10px 24px -2px var(--shadow-color);
  -webkit-box-shadow: 10px 10px 24px -2px var(--shadow-color);
  -moz-box-shadow: 10px 10px 24px -2px var(--shadow-color);

  &.isPaused {
    background-color: var(--gray-50);
    color: var(--gray-900);
  }

  &.isLongBreak {
    background-color: var(--blue-50);
    color: var(--blue-900);
  }
  &.isShortBreak {
    background-color: var(--green-50);
    color: var(--green-900);
  }
  &.isFocus {
    background-color: var(--red-50);
    color: var(--red-900);
  }
}

.chip-container {
  display: flex;
  margin: 0 auto;
  height: 40px;
  width: 170px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
  font-size: 2rem;
  margin-bottom: 2rem;
  &.isPaused {
    background-color: var(--grayAlpha-100);
    color: var(--gray-900);
    border: solid 1px var(--gray-900);
  }
  &.isLongBreak {
    background-color: var(--blueAlpha-100);
    color: var(--blue-900);
    border: solid 1px var(--blue-900);
  }
  &.isShortBreak {
    background-color: var(--greenAlpha-100);
    color: var(--green-900);
    border: solid 1px var(--green-900);
  }
  &.isFocus {
    background-color: var(--redAlpha-100);
    color: var(--red-900);
    border: solid 1px var(--red-900);
  }
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 60%;
  font-size: 18rem;
  padding: 2rem;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 15%;
  margin: auto;
}

.options-btn {
  width: 60px;
  height: 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  &.isPaused {
    background-color: var(--grayAlpha-100);
    color: var(--gray-900);
  }

  &.isFocus {
    background-color: var(--redAlpha-100);
    color: var(--red-900);
  }

  &.isShortBreak {
    background-color: var(--greenAlpha-100);
    color: var(--green-900);
  }

  &.isLongBreak {
    background-color: var(--blueAlpha-600);
    color: var(--blue-900);
  }

  &.isPaused .icon {
    color: var(--gray-900);
  }

  &.isShortBreak .icon {
    color: var(--green-900);
  }

  &.isLongBreak .icon {
    color: var(--blue-900);
  }
  &.isShortBreak .icon {
    color: var(--green-900);
  }

  &.isFocus .icon {
    color: var(-red-900);
  }
}

.start-stop-btn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  &.isPaused {
    background-color: var(--grayAlpha-700);
    color: var(--gray-900);
  }
  &.isFocus {
    background-color: var(--redAlpha-700);
    color: var(--red-900);
  }
  &.isShortBreak {
    background-color: var(--greenAlpha-700);
    color: var(--green-900);
  }
  &.isLongBreak {
    background-color: var(--blueAlpha-600);
    color: var(--blue-900);
  }
  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.step-container {
  display: flex;
  width: 50%;
  margin: 40px auto;
  justify-content: center;
  .step {
    font-size: 1.2rem;
  }
}

.modal-overlay {
  position: absolute;
  background-color: rgba(108, 122, 137, 0.6);
  height: 100vh;
  width: 100vw;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: var(--grayAlpha-100);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 400px;
  color: var(--gray-900);
  h2 {
    font-size: 3rem;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    &:hover {
      background-color: var(--grayAlpha-700);
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
  .duration-settings {
    margin: 0 auto;
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    .setting {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      gap: 15px;
      flex-direction: column;
      .controls-container {
        display: flex;
        display: flex;
        align-items: center;
        gap: 30px;
      }
    }
  }
}
.save-btn {
  width: 70px;
  height: 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grayAlpha-700);
  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}

.settings-btn {
  background-color: var(--gray-900);
  height: 40px;
  width: 40px;
  color: var(--grayAlpha-100);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.state-management-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .main-btn {
    display: flex;
    flex-grow: 1;
  }
  .secondary-btns {
    display: flex;
    gap: 20px;
  }
}
